@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
/* @import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css); */
@import url(./fontello.css);
*, *::before, *::after{
  box-sizing: border-box;
}
html{
  font-size: 10px
}
body{
  font-size: 1.4rem;
  color: #181818;
  background: url(./images/bg_flower.png) no-repeat 50% 0 scroll,
            #fff linear-gradient(to bottom, #ccc 0%, #fff 70%, #fff 100%);
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
}
/* 숨김 콘텐츠 */
.a11y-hidden, legend{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0);
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
}
.clearfix::after{
  content:"";
  display: block;
  clear:both;
}
/* 링크 스타일 */
a{
  text-decoration: none;
  color: inherit;
}
/* 레이아웃 */
.container{
  /* display: flex;
  flex-flow: column nowrap;
  align-items: center; */
}

.header, .visual, .main, .slogan, .footer{
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}
/* 헤더 */
.header{
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  padding: 1px 30px;
  position: relative;
}
/* 로고 */
.logo{
  position: absolute;
  top: 26px;
  left: 65px;
}
/* 맴버링크 */
.member{
  padding-left: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: -8px;
  font-size: 0;
  text-align: right;
}
.member li, .member a{
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.member [aria-hidden]{
  /* margin: 0 5px; */
}
.member a{
  padding:2px 8px 2px 3px;
}
/* 메인 메뉴 */
.menu{
  background: #DB5629 linear-gradient(to bottom,#EF962F 0%, #DB5629 35%, #DB5629 70%, #EF962F 100%);
  list-style: none;
  margin:0 0 35px;
  padding-left: 225px;
  border-top: 2px solid #000;
  border-radius: 0 0 5px 5px;
  height: 50px;
}
.menu-item{
  float: left;
  position: relative;
}
.btn-menu{
  background-color: transparent;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  border: 0;
  line-height: 48px;
  border-left: 2px solid rgba(255,255,255, 0.85);
  padding: 0px 20px;
  cursor: pointer;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.menu-act .btn-menu{
  color: #ff0;
}
.menu-act .btn-menu::after{
  content: "";
  display: block;
  background-color: #000;
  height:2px;
}
.sub-menu{
  position: absolute;
  margin: 0;
  padding-left: 0;
  list-style: none;
  white-space: nowrap;
  display: none;
}
.menu-act .sub-menu{
  display: block;
}
.sub-menu li, .sub-menu a{
  display: inline-block;
}
.sub-menu a{
  padding: 8px 0;
  margin-right: 1rem
}
.sub-menu a::before{
  content: '\f192'; 
  font-family: 'fontello';
  display: inline-block;
  width: 1em;
  margin-right: .2em;
  margin-left: .2em;

}
.sub-menu a:hover::before,
.sub-menu a:focus::before{
  content: '\e800'
}
.sub-menu1, .sub-menu2, .sub-menu3{
  left: 0;
}
.sub-menu4, .sub-menu5, .sub-menu6{
  right: 0;
}

/* 비주얼 */
@keyframes textAni{
  0%{
    font-size:12px;
    color: rgba(0,0,0,0);
    transform: translate(0, 0);
  }
  100%{
    font-size: 24px;
    color: (0,0,0,1);
    transform: translate(400px, 75px);
  }
}
@keyframes bgAni{
  0%{opacity: 0;}
  100%{opacity: 100%;}
}
.visual{
  height: 120px;
  position: relative;
}
.visual::before, .visual::after{
  animation: bgAni 2s ease-in-out infinite alternate;
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background-repeat: no-repeat;
}
.visual::before{
  background-image: url(./images/ani_flower_01.png), url(./images/ani_flower_02.png);
  background-position: 0 -10px, 670px 0;
}
.visual::after{
  background-image: url(./images/ani_flower_03.png), url(./images/ani_flower_04.png);
  background-position: 300px 0, 800px 20px;
  animation-duration: 1s;
}
.visual-text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.4rem;
  animation: textAni 5s ease-in-out forwards;
  width: 500px;
}
/* 메인 콘텐츠 */
.main{
  background-color: #fff;
  min-height: 450px;
  padding:30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 15px 15px 0 0;
}
.group1{
  width: 250px;
}
.group2{
  width: 380px;
}
.group3{
  width: 190px;
}
/* 로그인 */
.login{
  background-color: #db5629;
  background-image: radial-gradient(circle at right top, #ef962f, #db5629);
  border-radius: 5px;
  padding:10px;
  box-shadow: 5px 5px 0px 0 #ccc;
  width: calc(100% - 5px); 
}
.login-heading{
  margin:0 0 10px 0;
  padding-left:10px;
  color: #ff0;
  font-size:1.5rem;
  font-weight:700;
}
.login-form{
  background-color: #fff;
  padding:10px 10px 0 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.login-form div{
  width: 150px;
  margin-bottom: 5px;
}
.login-form fieldset{
  padding:0;
  border:0;
  margin:0;
  position: relative;
  padding-bottom: 5px;
  border-bottom:1px solid #aaa;
}
.login-form label{
  display: inline-block;
  width: 55px;
}
.login-form input{
  width:90px;
  height: 24px;
  border:1px solid #aaa;
  padding:1px 1px 1px 0.5em
}
.btn-login{
  width: 50px;
  height:52px;
  border-radius: 3px;
  border:0;
  padding:5px;
  color:#fff;
  cursor: pointer;
  background: #db5629;
  font-size:1.3rem;
  top:0;
  right:0;
  position: absolute;
}
.member-only{
  background-color: #fff;
  margin:0;
  padding: 10px;
  list-style:none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.member-only li:first-child{
  float:left;
}
.member-only li:last-child{
  float:right;
}
.member-only a{
  padding-top: 5px;
  padding-bottom: 5px;
}
.member-only a::before{
  content: '\e803';
  font-family: 'fontello';
  display: inline-block;
  margin-right: 0.2em;
  color:#db5629;
}
/* 유효성 검사 배너 링크 */
.validation-list {
  list-style: none;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 0;
}
.validation-list li a{
  display: block;
  padding: 8px 10px 8px 45px;
  /* line-height: 30px; */
  margin-top: 10px;
  border:1px solid #aaa;
  border-radius: 20px;
  background-color: #ccc;
  background-image: url(images/validation_icon.png), linear-gradient(180deg, #ccc, #eee);
  background-repeat: no-repeat, repeat;
  background-position: 15px 50%, 0 0;  
}
.validation-list li a:hover{
  color: #f00;
}
.validation-list li:first-child{
  margin-bottom: 10px;
}
/* 웹 관련 용어 */
.term{
  background:#ccc linear-gradient(180deg, #ccc, #eee);
  border:1px solid #aaa;
  border-radius: 5px;
  padding: 15px;
  margin-top: 25px;
}
.term-heading{
  font-size: 1.6rem;
  font-weight:700;
  margin:0;
}
.term-list{
  margin: 0;
}
.term-list > div{
  margin-top:10px;
}
.term-list > div::after{
  content:'';
  display: block;
  clear:both;
}
.term-list-subject{
  color: #296897;
}
.term-list-subject,.term-list-brief{
  float: right;
  width:145px;
}
.term-list-thumbnail{
  margin-left:0;
  float:left;
}
.term-list-brief{
  margin-left: 0;
  margin-top: 5px;
}
.even .term-list-subject, .even .term-list-brief{
  float: left;
}
.even .term-list-thumbnail{
  float:right;
}
/* 검색 폼 */
.search-form{
  border-radius: 15px 15px 0 0;
  border:1px solid #aaa;
  border-bottom-width: 0;
  padding:15px 25px 10px;
  background:#ccc linear-gradient(180deg, #ccc, #eee);
}
.search-form fieldset{
  border:0;
  padding:0;
  margin:0;
}
.search-form div[role="group"]{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.search-form label, .btn-search{
  white-space: nowrap;
}
.search-form label::before{
  content: '\e802';
  font-family: 'fontello';
  display: inline-block;
  margin-right: 0.2em;
}
.search-form input[type="search"]{
  border-radius: 3px;
  border:1px solid #aaa;
  padding:1px 1px 1px 5px;
  height: 24px;
  flex-grow: 1;
  margin:0 5px;
  width:200px;
}
.btn-search{
  border:1px solid #aaa;
  border-radius: 3px;
  color:white;
  background-color: #222;
  font-size:1.3rem;
  height:24px;
  padding:0 10px;
}
/* 공지사항 및 자료실 */
.board{
  margin-top: 20px;
  position: relative;
  padding-top: 45px;
}
.notice-heading, .pds-heading{
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;
  position: absolute;
  top:0;
}
.notice-heading{
  left: 0;
}
.pds-heading{
  left: 73px;
}
.tab{
  display: block;
  color: #666;
  border:1px solid #aaa;
  border-radius: 5px 5px 0 0;
  padding: 5px 10px;
  background: #ccc linear-gradient(180deg, #ccc, #eee);
}
.tab-act .tab{
  color: #db5629;
  border-color:#db5629 #db5629 #fff #db5629;
  background: #fff;
}
.notice-list, .pds-list, .notice-more, .pds-more{
  display: none;
}

.tab-act .notice-list, .tab-act .pds-list, .tab-act .notice-more, .tab-act .pds-more{
  display: block;
}
.notice-list, .pds-list{
  list-style: none;
  margin: 0;
  padding-left: 0;
  min-height: 130px;
}
.notice-list li, .pds-list li{
  margin-bottom: 10px;
}
.notice-list a::before, .pds-list a::before{
  content: "\f192";
  font-family: 'fontello';
  display: inline-block;
  margin-right: .2em;
}
.notice-list li::after, .pds-list li::after{
  content: "";
  display: block;
  clear:both;
}
.notice-list a, .pds-list a{
  float: left;
  width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.notice-list time, .pds-list time{
  float: right;
}
.notice-more, .pds-more{
  position: absolute;
  top:-8px;
  right:-8px;
  padding: 8px;
}
.icon-plus::before{
  color: hsla(110, 70%, 50%, 1);
}
/* 새소식 */
.news{
  margin-top:20px;
  position: relative;
}
.news::before{
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 80%;
  height: 1px;
  background: #aaa linear-gradient(90deg, #aaa, #fff);
}
.news-heading{
  margin:0;
  font-size: 1.5rem;
  font-weight: 700;
  color:#DB5629;
}
.news-item{
  margin-top: 30px;
  padding-left: 130px;
  position: relative;
}
.news-more{
  position: absolute;
  padding: 8px;
  top:-8px;
  right:-8px;
}
.news-item-subject{
  margin: 0px;
  font-size:1.4rem;
}
.news-item-brief{
  margin: 10px 0;
  line-height: 1.5;
}
.news-item-thumbnail{
  margin:0;
  position: absolute;
  top: 3px;
  left: 0;
  text-align: center;
}
.news-item-thumbnail img{
  margin-bottom:15px;
  box-shadow: 0 15px 20px 3px #ccc;
}
/* 신규 이벤트 및 관련 사이트 , 인기 사이트*/
.gradient-box{
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  background: #ccc linear-gradient(180deg, #ccc, #eee);
}
.event-heading, .related-heading, .favorite-heading{
  font-size: 1.6rem;
  margin: 0;
}
.event-heading span, .related-heading span, .favorite-heading span{
  color: #db5629;
}
/* 신규 이벤트 */
.event{
  border-bottom: 1px solid #aaa;
  position: relative;
}
.event-thumbnail, .event-brief{
  margin: 10px 0;
}
.event-thumbnail img{
  border: 1px solid #aaa;
  box-shadow: 5px 5px 0 0 #999;
}
.event-brief em{
  font-style: normal;
}
.btn-wrap{
  position: absolute;
  top: 0;
  right: 0;
}
.btn-prev, .btn-next{
  background-image: url(./images/back_forward.png);
  background-repeat: no-repeat;
  width: 19px;
  height: 18px;
  border: 0;
  padding: 0;
  cursor: pointer;
  vertical-align: top;
}
.btn-next{
  background-position: -35px 0;
}
/* 관련 사이트 */
.related{
  margin-top: 10px;
}
.related-list{
  background-color: #fff;
  list-style: none;
  padding-left: 0;
  margin: 10px 0 0 0;
  height:27px;
  overflow: hidden;
  border:1px solid #aaa;
  border-radius: 5px;
  transition: all 0.5s;  
}
.related-list:hover{
  height: 147px;
  padding: 10px 0;
  background-color: #ffc;
}
.related-list li{
  padding: 2px 5px;
}
.related-list a{
  display: block;
  line-height: 21px;
  text-indent: 1em;
}
/* 인기 사이트 */
.group3 .gradient-box:nth-child(2){
  margin-top: 20px;
}
.favorite-list{
  margin: 10px 0 0 0;
  padding-left: 0;
  list-style: none;
}
/* .favorite-list li{
  counter-increment: number;
  margin-top:5px;
  position: relative;
} */
.favorite-list li{
  counter-increment: number;
  display: flex;
  flex-basis: row nowrap;
  align-items: center;
  margin-top:5px;
}
.favorite li::before{
  content: counter(number);
  /* display: inline-block; */
  padding: 2px 5px;
  color:#fff;
  background-color: #aaa;
  border-radius: 2px;
  margin-right: 5px; 
  font-size: 1.3rem;  
}
.favorite-list a{
  /* display: inline-block; */
  flex-grow: 1;
}
.up, .down, .stop{
  /* display: inline-block; */
  font-style: normal;
  width: 9px;
  height: 11px;
  padding-top: 11px;
  overflow: hidden;
  margin: 2px 0 0 0;
  background-image: url(./images/rank.png);
  background-repeat: no-repeat;
  /* position: absolute;
  right: 0;
  top: 50%;
  margin-top: -5px; */
}
.stop{
  background-position: 0 50%;
}
.down{
  background-position: 0 100%;
}
.favorite-more{
  position: absolute;
  padding: 8px;
  top: -8px;
  right: -8px;
}
/* 슬로건 */
.slogan{
  background-color: green;
}
.footer-bg{
  width: 100%;
  background-color: purple;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.footer{
  background-color: skyblue;
}


