@import url(./normalize.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
/* @import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css); */
@import url(./fontello.css);
*, *::before, *::after{
  box-sizing: border-box;
}
html{
  font-size: 10px
}
body{
  font-size: 1.4rem;
  color: #181818;
  background: url(./images/bg_flower.png) no-repeat 50% 0 scroll,
            #fff linear-gradient(to bottom, #ccc 0%, #fff 70%, #fff 100%);
  font-family: 'Spoqa Han Sans';
  font-weight: 400;
}
/* 숨김 콘텐츠 */
.a11y-hidden, legend{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip-path: polygon(0 0, 0 0, 0 0);
}
.clearfix::after{
  content:"";
  display: block;
  clear:both;
}
/* 링크 스타일 */
a{
  text-decoration: none;
  color: inherit;
}
/* 레이아웃 */
.container{
  /* display: flex;
  flex-flow: column nowrap;
  align-items: center; */
}

.header, .visual, .main, .slogan, .footer{
  width: 940px;
  margin-right: auto;
  margin-left: auto;
}
/* 헤더 */
.header{
  background-color: #fff;
  border-radius: 0 0 15px 15px;
  padding: 1px 30px;
  position: relative;
}
/* 로고 */
.logo{
  position: absolute;
  top: 26px;
  left: 65px;
}
/* 맴버링크 */
.member{
  padding-left: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: -8px;
  font-size: 0;
  text-align: right;
}
.member li, .member a{
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
}
.member [aria-hidden]{
  /* margin: 0 5px; */
}
.member a{
  padding:2px 8px 2px 3px;
}
/* 메인 메뉴 */
.menu{
  background: #DB5629 linear-gradient(to bottom,#EF962F 0%, #DB5629 35%, #DB5629 70%, #EF962F 100%);
  list-style: none;
  margin:0 0 35px;
  padding-left: 225px;
  border-top: 2px solid #000;
  border-radius: 0 0 5px 5px;
  height: 50px;
}
.menu-item{
  float: left;
  position: relative;
}
.btn-menu{
  background-color: transparent;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  border: 0;
  line-height: 48px;
  border-left: 2px solid rgba(255,255,255, 0.85);
  padding: 0px 20px;
  cursor: pointer;
  text-shadow: 1px 0 0 #000, 0 1px 0 #000, -1px 0 0 #000, 0 -1px 0 #000;
}
.menu-atc .btn-menu{
  color: #ff0;
}
.menu-act .btn-menu::after{
  content: "";
  display: block;
  background-color: #000;
  height:2px;
}
.sub-menu{
  position: absolute;
  margin: 0;
  padding-left: 0;
  list-style: none;
  white-space: nowrap;
}
.sub-menu li, .sub-menu a{
  display: inline-block;
}
.sub-menu a{
  padding: 8px 0;
  margin-right: 1rem
}
.sub-menu a::before{
  content: '\f192'; 
  font-family: 'fontello';
  display: inline-block;
  width: 1em;
  margin-right: .2em;
  margin-left: .2em;

}
.sub-menu a:hover::before,
.sub-menu a:focus::before{
  content: '\e800'
}
.sub-menu1, .sub-menu2, .sub-menu3{
  left: 0;
}
.sub-menu4, .sub-menu5, .sub-menu6{
  right: 0;
}
.sub-menu1{
  display: block;
}
.sub-menu2{
  display: none;
}
.sub-menu3{
  display: none;
}
.sub-menu4{
  display: none;
}
.sub-menu5{
  display: none;
}
.sub-menu6{
  display: none;
}
/* 비주얼 */
@keyframes textAni{
  0%{
    font-size:12px;
    color: rgba(0,0,0,0);
    transform: translate(0, 0);
  }
  100%{
    font-size: 24px;
    color: (0,0,0,1);
    transform: translate(400px, 75px);
  }
}
@keyframes bgAni{
  0%{opacity: 0;}
  100%{opacity: 100%;}
}
.visual{
  height: 120px;
  position: relative;
}
.visual::before, .visual::after{
  animation: bgAni 2s ease-in-out infinite alternate;
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background-repeat: no-repeat;
}
.visual::before{
  background-image: url(./images/ani_flower_01.png), url(./images/ani_flower_02.png);
  background-position: 0 -10px, 670px 0;
}
.visual::after{
  background-image: url(./images/ani_flower_03.png), url(./images/ani_flower_04.png);
  background-position: 300px 0, 800px 20px;
  animation-duration: 1s;
}
.visual-text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.4rem;
  animation: textAni 5s ease-in-out forwards;
  width: 500px;
}
/* 메인 콘텐츠 */
.main{
  background-color: #fff;
  min-height: 450px;
  padding:30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 15px 15px 0 0;
}
.group1{
  width: 250px;
}
.group2{
  width: 380px;
}
.group3{
  width: 190px;
}
/* 로그인 */
.login{
  background-color: #db5629;
  background-image: radial-gradient(circle at right top, #ef962f, #db5629);
  border-radius: 5px;
  padding:10px;
  box-shadow: 5px 5px 0px 0 #ccc;
  width: calc(100% - 5px); 
}
.login-heading{
  margin:0 0 10px 0;
  padding-left:10px;
  color: #ff0;
  font-size:1.5rem;
  font-weight:700;
}
.login-form{
  background-color: #fff;
  padding:10px 10px 0 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.login-form div{
  width: 150px;
  margin-bottom: 5px;
}
.login-form fieldset{
  padding:0;
  border:0;
  margin:0;
  position: relative;
  padding-bottom: 5px;
  border-bottom:1px solid #aaa;
}
.login-form label{
  display: inline-block;
  width: 55px;
}
.login-form input{
  width:90px;
  height: 24px;
  border:1px solid #aaa;
  padding:1px 1px 1px 0.5em
}
.btn-login{
  width: 50px;
  height:52px;
  border-radius: 3px;
  border:0;
  padding:5px;
  color:#fff;
  cursor: pointer;
  background: #db5629;
  font-size:1.3rem;
  top:0;
  right:0;
  position: absolute;
}
.member-only{
  background-color: #fff;
  margin:0;
  padding: 10px;
  list-style:none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.member-only li:first-child{
  float:left;
}
.member-only li:last-child{
  float:right;
}
.member-only a{
  padding-top: 5px;
  padding-bottom: 5px;
}
.member-only a::before{
  content: '\e803';
  font-family: 'fontello';
  display: inline-block;
  margin-right: 0.2em;
  color:#db5629;
}
/* 유효성 검사 배너 링크 */
.validation-list {
  list-style: none;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 0;
}
.validation-list li a{
  display: block;
  padding: 8px 10px 8px 45px;
  /* line-height: 30px; */
  margin-top: 10px;
  border:1px solid #aaa;
  border-radius: 20px;
  background-color: #ccc;
  background-image: url(images/validation_icon.png), linear-gradient(180deg, #ccc, #eee);
  background-repeat: no-repeat, repeat;
  background-position: 15px 50%, 0 0;  
}
.validation-list li a:hover{
  color: #f00;
}
.validation-list li:first-child{
  margin-bottom: 10px;
}
/* 웹 관련 용어 */
.term{
  background:#ccc linear-gradient(180deg, #ccc, #eee);
  border:1px solid #aaa;
  border-radius: 5px;
  padding: 15px;
  margin-top: 25px;
}
.term-heading{
  font-size: 1.6rem;
  font-weight:700;
  margin:0;
}
.term-list{
  margin: 0;
}
.term-list > div{
  margin-top:10px;
}
.term-list > div::after{
  content:'';
  display: block;
  clear:both;
}
.term-list-subject{
  color: #296897;
}
.term-list-subject,.term-list-brief{
  float: right;
  width:140px;
}
.term-list-thumbnail{
  margin-left:0;
  float:left;
}
.term-list-brief{
  margin-left: 0;
  margin-top: 5px;
}
.even .term-list-subject, .even .term-list-brief{
  float: left;
}
.even .term-list-thumbnail{
  float:right;
}
/* 슬로건 */
.slogan{
  background-color: green;
}
.footer-bg{
  width: 100%;
  background-color: purple;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.footer{
  background-color: skyblue;
}


